
.fam {/*стиль для фамилии*/
    display: block;
    padding:5px;
    border-radius: 5px;
    width : 100%;
    
}
.nam{ /*cтиль для имени*/
    padding: 5px;
    border-radius: 5px;
    width: 45%;
    margin:3px; 
}
form{
    border-radius: 5px;
    background-color:#9ACD32;
    padding: 5px;
    border-style: hidden;
}
.otch{
    padding: 5px;
    border-radius: 5px;
    width: 46%;
}
.bdat{
    padding: 5px;
    display: block;
    padding: 5px;
    border-radius: 5px;
    width: 655px;
}
.cursor{ /*стиль для кнопки "отправить"*/
    cursor: pointer;
    width: 250px;
    height:100px;
    border-radius: 15px;
    background-color: #FFD700;/*золотой цвет*/
    margin-left :65%;
}
/*.bdat:hover { /*hover - определяет стиль элемента при наведении на него курсора мыши
    background-color: #FFD700;}*/

input[type=submit]:hover { /*hover - определяет стиль элемента при наведении на него курсора мыши*/
    background-color: #B22222;
}
    
